* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Greycliff", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(236, 236, 236);
    font-weight: 600;
}

h1 {
    text-transform: uppercase;
}

.revenue-total-container {
    font-weight: 700;
    font-size: 1.5rem;
}

.dashboard-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}



.grid-cell {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    flex-direction: column;
}

.heading-cell {
    grid-area: 1 / 1 / span 1 / span 3;
    background: none;
    border: none;
    align-items: center;
}

.top-left-cell {
    grid-area: 2 / 1 / span 1 / span 1;
}

.top-middle-cell {
    grid-area: 2 / 2 / span 1 / span 1;
}

.top-right-cell {
    grid-area: 2 / 3 / span 1 / span 1;
}

.bottom-left-cell {
    grid-area: 3 / 1 / span 1 / span 1;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.bottom-middle-cell {
    grid-area: 3 / 2 / span 1 / span 1;
}

.bottom-right-cell {
    grid-area: 3 / 3 / span 1 / span 1;
    flex-direction: column;
}

.date-toggle {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 750px;
}

.bar-chart, .forecast-bar-chart {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    height: 100%;
    /* border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc; */
    width: 100%;
    
  }
  
  .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }
  
  .bar, .forecast-bar {
    width: 100%;
    background-color: #4a90e2;
    border-radius: 4px 4px 0 0;
    transition: height 0.3s ease;
    margin: 5px 0px;
  }
  
  .label {
    margin-top: 8px;
  }
  
  
  
  .pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  }
  
  .pie-chart {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }

  .revenue-total-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 100px;
  }

  .revenue-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    width: 100%;
  }

  .single-revenue-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .revenue-color-bg {
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #1abc9c;
    margin-right:7px;
  }

  .membership-revenue {
    background-color: #f1c40f;
  }

  .shop-revenue {
    background-color: #e74c3c;
  }

  .birthday-revenue {
    background-color: #9b59b6;
  }

  .group-revenue {
    background-color: #4a90e2;
  }

  .revenue-meter {
    width: 65%;
    height: 90%;
    background: #eee;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.revenue-meter-fill {
    height: 0%;
    width: 100%;
    background: linear-gradient(0deg, #4caf50, #81c784);
    transition: width 0.6s ease;
}



.revenue-breakdown-bar-chart {
    flex-direction: column;
}

.revenue-breakdown-bar-container {
    display: flex;
    flex-direction: row-reverse;
}

.revenue-breakdown-bar {
    height: 100%;
    width: 0%;
    transition: width 0.3s ease-in-out;
    border-radius: 0px 5px 5px 0px;
}

.revenue-breakdown-bar-container[data-key=books] .revenue-breakdown-bar, .books-revenue {
    background-color: #6c98f6;
}

.revenue-breakdown-bar-container[data-key=creativePlay] .revenue-breakdown-bar, .creativ-play-revenue {
    background-color: #f5cd3f;
}

.revenue-breakdown-bar-container[data-key=novelty] .revenue-breakdown-bar, .novelty-revenue {
    background-color: #9b5bda;
}

.revenue-breakdown-bar-container[data-key=plush] .revenue-breakdown-bar, .plush-revenue {
    background-color: #cc424c;
}

.revenue-breakdown-bar-container[data-key=puzzles] .revenue-breakdown-bar, .puzzles-revenue {
    background-color: #59c57d;
}

.revenue-breakdown-bar-container[data-key=steppingStones] .revenue-breakdown-bar, .ssmc-revenue {
    background-color: #82c9fa;
}

.revenue-breakdown-bar-container[data-key=toys] .revenue-breakdown-bar, .toys-revenue {
    background-color: #f0b050;
}
 
.revenue-breakdown-label {
    display: none;
}
