* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.dashboard-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.heading-cell {
    grid-area: 1 / 1 / span 1 / span 3;

}

.grid-cell {
    width: 100%;
    height: 100%;
     /*background-color: rgb(219, 219, 219); */
    border-radius: 5px;
    border: 2px solid rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: end;
}

.top-left-cell {
    grid-area: 2 / 1 / span 1 / span 1;
}

.top-middle-cell {
    grid-area: 2 / 2 / span 1 / span 1;
}

.top-right-cell {
    grid-area: 2 / 3 / span 1 / span 1;
}

.bottom-left-cell {
    grid-area: 3 / 1 / span 1 / span 1;
    align-items: center;
}

.bottom-middle-cell {
    grid-area: 3 / 2 / span 1 / span 1;
}

.bottom-right-cell {
    grid-area: 3 / 3 / span 1 / span 1;
}

.date-toggle {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bar-chart, .forecast-bar-chart {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    height: 100%;
    padding: 10px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 100%;
    
  }
  
  .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }
  
  .bar, .forecast-bar {
    width: 100%;
    background-color: #4a90e2;
    border-radius: 4px 4px 0 0;
    transition: height 0.3s ease;
  }
  
  .label {
    margin-top: 8px;
    font-size: 14px;
  }
  
  
  
  
  .pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  